{#
/**
* @file
* Display Suite reset template.
*
* Available variables:
* - disqus_message: The linked message to view the comments in Disqus site
*/
#}
<noscript>
  <p>
    <a href="{{ url }}">{{ message }}</a>
  </p>
</noscript>